<?xml version="1.0" encoding="UTF-8"?>
<launch>
   
    <!-- unsure which robot description will work
        <param name="robot_description" command="cat '$(find Project-Swarm)/urdf/bb8_1.urdf'"/>
    -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find Project-Swarm)/bb_8_description/robots/bb_8.gazebo.xacro'"/>


    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param robot_description -model bb_8 -x 42.0 -y 42.0 -z 0.5"
    />

</launch>
