<!-- This File Launches SLAM And Octomap On The Drone Swarm -->
<!-- You Know This Is Working If World Is Loaded In And Drone Is Generating Octomap -->
<launch>
    <!-- Create UAV Groups -->
    <group ns="uav1">
        <include file="$(find Project-Swarm)/launch/start_slam_octomap.launch">
            <arg name="name" value="uav1"/>
        </include>
    </group>
</launch>